.footer {
    display: flex;
    justify-content: center;
    background-color: var(--main-black);
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1200px;
    min-height: 180px;
    padding: 35px;
}

.footerLogo {
    display: flex;
    flex-direction: column;
}
.footerLogoCopy {
    margin-top: 30px;
}
.footerLogoCopy span {
    display: block;
    font-family: "Courier New", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
}
.footerContacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.footerContacts h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin: 0;
}
.footerContactsList {
    list-style: none;
    padding: 0;
}
.footerContactsList li * {
    font-family: "Courier New", sans-serif;
    font-size: 18px;
    color: #fff;
}

.footerContactsList li a {
    position: relative;
    transition: color .1s var(--ease-in-out);
}
.footerContactsList li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: background-color .1s var(--ease-in-out);
}
.footerContactsList li a:hover:after {
    background-color: #aaa;
}
.footerContactsList li a:hover {
    color: #aaa;
}

@media (min-width: 720px) {
    .footerContainer {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .footerLogoCopy span {
        text-align: left;
    }
}