.logo {
    max-height: 42px;
}
.logoHover {
    cursor: pointer;
}

.logoHover:hover {
    animation: flashing linear .6s infinite;
}

@keyframes flashing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}