.logo {
    cursor: pointer;
}

.logo:hover {
    animation: flashing linear .6s infinite;
}

@keyframes flashing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}