.burgerButton {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: 2px solid var(--main-black);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 16px 0 16px;
    padding: 0;

    transition: all .1s var(--ease-in-out);
}
.burgerButton:active {
    opacity: .75;
    background-color: #0005;
}
.burgerButtonContainer {
    width: 28px;
    height: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.burgerButtonContainerElements {
    width: 100%;
    height: 3px;

    border-radius: 3px;
    background-color: var(--main-black);

    transition: all .2s var(--ease-in-out);
}

.burgerButtonContainerOpened .burgerButtonContainerElements:first-child {
    opacity: 0;
}
.burgerButtonContainerElementsMiddle {
    height: 3px;
    position: relative;
}
.burgerButtonContainerElementMiddle {
    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;

    border-radius: 3px;
    background-color: var(--main-black);

    transform-origin: center;
    transition: all .2s var(--ease-in-out);
}
.burgerButtonContainerOpened .burgerButtonContainerElementMiddle:first-child {
    transform: rotateZ(45deg);
}
.burgerButtonContainerOpened .burgerButtonContainerElementMiddle:last-child {
    transform: rotateZ(-45deg);
}
.burgerButtonContainerOpened .burgerButtonContainerElements:last-child {
    opacity: 0;
}
@media (min-width: 780px) {
    .burgerButton {
        display: none;
    }
}